[submodule "tests/fac_test_project1"]
	path = tests/fac_test1_basicproject
    url = https://github.com/mikeizbicki/fac_test_project1
[submodule "tests/fac_test_project2"]
	path = tests/fac_test2_dependency_only_variables
	url = https://github.com/mikeizbicki/fac_test_project2
[submodule "tests/fac_test_project3"]
	path = tests/fac_test3_postreqs
	url = https://github.com/mikeizbicki/fac_test_project3
[submodule "tests/fac_test_greek"]
	path = tests/greek
	url = https://github.com/mikeizbicki/fac_test_greek
[submodule "fac_test_depvars"]
	path = tests/fac_test4_dependency_only_variables
	url = https://github.com/mikeizbicki/fac_test_depvars
[submodule "fac_test6_recursive_dependencies"]
	path = tests/fac_test6_recursive_dependencies
	url = https://github.com/mikeizbicki/fac_test6_recursive_dependencies
[submodule "tests/fac-video"]
	path = tests/video
	url = https://github.com/mikeizbicki/fac-video
[submodule "tests/fac_test7_locks_and_symlinks"]
	path = tests/fac_test7_locks_and_symlinks
	url = https://github.com/mikeizbicki/fac_test7_locks_and_symlinks
[submodule "tests/facd_test_rm"]
	path = tests/facd_test1_rm
	url = https://github.com/mikeizbicki/facd_test_rm
