# project specific
fac/_version.py
tmp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Vim
*.sw?
*~

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# mypy
.mypy_cache/
