[submodule "stories"]
    path = stories
    url = https://github.com/mikeizbicki/fabula-machina
[submodule "tests/fac_test_project1"]
	path = tests/fac_test1_basicproject
    url = https://github.com/mikeizbicki/fac_test_project1
[submodule "tests/fac_test_project2"]
	path = tests/fac_test2_dependency_only_variables
	url = https://github.com/mikeizbicki/fac_test_project2
[submodule "tests/fac_test_project3"]
	path = tests/fac_test3_postreqs
	url = https://github.com/mikeizbicki/fac_test_project3
[submodule "tests/fac_test_greek"]
	path = tests/greek
	url = https://github.com/mikeizbicki/fac_test_greek
[submodule "greek_story"]
	path = greek
	url = https://github.com/mikeizbicki/greek
[submodule "fac_test_depvars"]
	path = tests/fac_test4_dependency_only_variables
	url = https://github.com/mikeizbicki/fac_test_depvars
[submodule "fac_test5_variable_inheritance"]
	path = tests/fac_test5_variable_inheritance
	url = https://github.com/mikeizbicki/fac_test5_variable_inheritance
